h2 {
  padding: 3px;
  background-color: blue;
  display: inline-block;
  border-radius: 10px;
}
h1{
  margin: auto;
  text-align: center;
  padding: 5px;
  background-color: yellow;
  display: inline-block;
  border-radius: 10px;
}

.footer{
  padding: 3px;
  width: 100%;
  background-color: blue;
}

#footertext{
  text-align: center;
}
