h2 {
  padding: 3px;
  background-color: blue;
  display: inline-block;
  border-radius: 10px;
}
h1{
  text-align: center;
  padding: 5px;
  background-color: yellow;
  display: inline-block;
  border-radius: 10px;
}

.footer{
  background-color: blue;
}
